.captcha-keypad-wrapper .form-item,
.captcha-keypad-wrapper .captcha-keypad {
  float: left;
  display: block;
  margin: 5px;
  min-height: 75px;
  vertical-align: middle;
}

.captcha-keypad span {
  font-family: monospace;
}

.captcha-keypad-wrapper .captcha-keypad span,
.captcha-keypad-wrapper .clear {
  cursor: pointer;
  border: 1px dotted gray;
  width: 10px;
  height: 10px;
  display: inline-table;
  margin: 2px 2px;
  padding: 2px 6px;
}

.captcha-keypad-wrapper .captcha-keypad .inner span:hover,
.captcha-keypad-wrapper .clear:hover {
  background-color: rgb(207, 208, 208);
}

.captcha-keypad-wrapper .sequence {
  float: left;
}

.captcha-keypad-wrapper .captcha-keypad .inner {
  display: block;
  width: 110px;
  border: none;
  height: auto;
}

#edit-captcha-response {
  max-width: 100px;
}
